.measurings
	.inputForm
		.hidden
			display: none
		&__checkbox
			display: flex
			justify-content: start
			#isDirect
				margin: 0 5px
				width: auto
				flex-basis: auto
			label
				width: auto !important
				flex-basis: auto !important
		&__forNotDirect
			border: 1px dotted $border-color
			.hidden
				display: none
	&__details
		display: flex
		overflow: hidden
		transition: all 1s ease-out
		&_hidden
			max-height: 0
		&_visible
			max-height: 500px			
	&__details-button
		&::before
			content: '\25BA'
			font-size: 120%
		&.open::before
			content: '\25BC'		
	.environment
		&__title
			font-weight: 700
		padding: 0 5px
		border: 1px solid $border-color
		&__info
			display: flex

	.equipment
		&__title
			font-weight: 700
		padding: 0 5px
		border: 1px solid $border-color
		&__info
			display: flex

	.selection
		&__title
			font-weight: 700
		padding: 0 5px
		border: 1px solid $border-color
		&__info
			display: flex