.measurings
	&__details
		display: flex

	.environment
		display: flex
		border: 1px solid $border-color

	.equipment
		display: flex
		border: 1px solid $border-color


	.selection
		display: flex
		border: 1px solid $border-color